
a{
    text-decoration: none;
    color:black;
    
}
.container a:hover{
    background-color: whitesmoke;
    padding: 5px;
}
.navbar a:hover{
    background-color: white;
    padding: 5px;
}








.entries h2{
    font-size: 18px;
    padding-bottom: 10px;
}

.action{
    color: #2FC1DA;

    font-weight: bold;
}
.title-danger{
    color: red;
    font-weight: bold;
}

