.clearfix:after {
    content: '';
    display: table;
    clear: both;
}
body{
    background-color: antiquewhite;
    overflow-y: hidden;
}

.carousel-container {
    
    bottom: 250px;
    width: 800px;
    height: 600px;
    margin: 300px auto;
    overflow: hidden;
    position: relative;

}


.carousel-image-wrapper {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 4000px;
}

.image {
    width: 800px;
    float: left;
    position: relative;
}

.image img{
    width: 100%;
    
}

button {
   
    position: absolute;
    
    width: 50px;
    height: 50px;
    border: 2px solid black;
    border-radius: 50%;
}


.dot-pointer{
    position: absolute;
    border-color: #000;
    left: 160px;
    top: 500px;
}



