*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    
    position: relative;
    background-image: url('../img/bg.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    overflow: hidden;
    height: 100%;
    /* filter: brightness(0%); */
    
    
   
}

.taskbar{
    position: absolute;
    background-color: #f3f3f3;
    position: fixed;
    width: 100%;
    top: 95vh;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.windowbtn{
   
    position: absolute;
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 30px;
    left:38.6% ;
    color: #000;
}

.searchbtn{
    position: absolute;
    
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 30px;
    left:41.6% ;
    color: #000;

}

.switchbtn{
    position: absolute;
   
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 30px;
    left:44.4% ;
    color: #000;

}
.widgetbtn{
    position: absolute;
   
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 30px;
    left:47.3% ;
    color: #000;

}

.edgebtn{
    position: absolute;
    
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 30px;
    left:50.2% ;
    color: #000;

}

.vscode{
    position: absolute;
    
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 30px;
    left:53% ;
    color: #000;

}

.btnhover:hover{
 
    
    /* opacity: 0.2; */
    color: rgb(14, 13, 13);
    box-shadow: 0 5px 15px rgba(15, 125, 228, 0.4);
}

.taskbarright {
   
    position: absolute;
    justify-self: flex-end;
    right: 0;
    margin: 0;
    height: 75%;
    width: 15%;    
}

.more{
    position: absolute;
  
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 72%;
    left:85% ;
    color: #000;

}
.wifi{
    position: absolute;
    
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 72%;
    left:87% ;
    color: #000;

}
.sound{
    position: absolute;
    
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 72%;
    left:88.8% ;
    color: #000;

}
.language{
    position: absolute;
   
    background: transparent;
    bottom: 13px;
    width: 30px;
    height: 72%;
    left:90.6% ;
    color: #000;

}
.datetime{
    position: absolute;
    
    z-index: 10001;
    
    background: transparent;
    bottom: 13px;
    width: 65px;
    height: 72%;
    left:92.6% ;
    color: #000;

}
.notifications{
    position: absolute;
   
    background: transparent;
    bottom: 13px;
    width: 40px;
    height: 72%;
    left:97% ;
    color: #000;

}

.dicon{
    height: 50px;
    width: 50px;
   
    
    margin-bottom: 15px;
    
}
.dicon:hover{
    background-color: rgb(71, 65, 65);
    opacity: 0.8;
    display: block;
    


}

.recyclebin{
    position: relative;
    background-image: url("../img/recyclebinicon.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.mypc{
    position: relative;
    background-image: url("../img/thispc.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.vscodeI{
    position: relative;
    background-image: url("../img/vscode.png");
    background-repeat: no-repeat;
    background-size: cover;
}

.startmenu{
    position: absolute;

    
    top: 25%;
    left: 35%;
    
    
    width: 30%;
    height: 620px;
    background-color: rgb(34, 34, 73);
    opacity: 0.91;
    /* background-image: url("../img/startmenu.PNG");
    background-repeat: no-repeat;
    background-size: cover; */
    border-radius: 15px;
    
    text-align: center;
    align-items: center;
    display: none;
}


.powerOff {
    position: relative;
    top: 87%;
    left: 85%;
    background-image: url(../img/shutdown.png);

    background-color: rgb(202, 191, 191);
    background-size: cover;
    border-radius: 5px;
    padding: 15px;
    
    
}


#time{
    position: absolute;
    background-color: #f3f3f3;
   bottom: 30px;
    left: 92.6%;
    height: 19px;
    width: 62px;
    font-size: 12px;
    
   z-index: 1001;
    
}

#date{
    position: absolute;
    background-color: #f3f3f3;
   bottom: 13px;
    left: 92.6%;
    height: 19px;
    width: 62px;
    font-size: 12px;
    
   z-index: 1001;
    
}



